@import 'tailwindcss';

@font-face {
	font-family: 'Tomorrow';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/public/Tomorrow-Medium.ttf') format('truetype');
}

@theme {
	--font-heading: 'Tomorrow', sans-serif;
}
